*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
} 

body {
    font-family: Verdana;
    font-size: 3rem;
}

.container {
    padding-top: 10vh;
    height: 100vh;
    background: #f7f7f7;
    text-align: center;
}

h1 {
    margin-bottom: 3rem;
    font-size: 6rem;
    color: firebrick;
}

.interface {
    margin: 5rem;
    width: 40vw;
    margin: 0 auto;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* 

.btn, input {
    margin: .5rem;
}

input {
    height: 5rem;
    width: 40rem;
}

.btn {
    height: 4rem;
    width: 4rem;
}

input[type="checkbox"] {
    width: 4rem;
}

input::placeholder, li {
    font-size: 3rem;
}




.filtersPanel > * {
    width: 15%;
}

.active {
    border: 2px solid cornflowerblue;
} */